<div>
  <label for="comment" class="block text-sm font-medium text-gray-700">変換したい文字を入力してください。</label>
  <div class="mt-1">
    <textarea [(ngModel)]="text" rows="4" name="comment" id="comment" class="block w-full rounded-md border-gray-300 shadow-sm shadow-gray-400 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
  </div>
  <button type="button" class="mt-2 float-right inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-5 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" (click)="onConvertButtonClick()">変換！</button>
</div>
